{% extends "layout.html" %}

{% block pageTitle %}
  Upload data
{% endblock %}

{% block header %}
  {% include "includes/upload-data-header.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="data-published" method="post">

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Data has been published
            </h3>
            <p class="govuk-body">You can <a class="govuk-notification-banner__link" href="#">edit the dataset</a> if you think there's a problem.</p>
          </div>
        </div>

        <h1 class="govuk-heading-l">
          {% if data.dataTitle %}{{ data.dataTitle }}{% else %}Data title unknown{% endif %}
        </h1>

        {% if data.dataDescription %}

          <h2 class="govuk-heading-s">
            Description
          </h2>

          <p>
            {{ data.dataDescription }}
          </p>

        {% endif %}

        <dl class="govuk-summary-list govuk-summary-list--no-border">
          {% if data.dataCategory %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Category:
            </dt>
            <dd class="govuk-summary-list__value">
                {% for value in data.dataCategory %}
                <strong class="govuk-tag">
                  {{ value }}
                </strong>
                {% endfor %}
            </dd>
          </div>
          {% endif %}
          {% if data.dataLocation %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location coverage:
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data.dataLocation }}
            </dd>
          </div>
          {% endif %}
          {% if data.dataPeriodStartDay %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Collection period:
            </dt>
            <dd class="govuk-summary-list__value">
            {{ data.dataPeriodStartDay }}/{{ data.dataPeriodStartMonth }}/{{ data.dataPeriodStartYear }}
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation:
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">Generated from account information</a>
            </dd>
          </div>
          {% if data.dataCommissioningReason %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Commisioned for:
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="{{ data.evidenceStudyLink }}{{ data.strategicWorkLink }}{{ data.otherLink }}">{{ data.evidenceStudyTitle }}{{ data.strategicWorkTitle }}{{ data.otherTitle }}</a>
            </dd>
          </div>
          {% endif %}
          {% if data.dataLicense %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              License:
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data.dataLicense }}
            </dd>
          </div>
          {% endif %}
          {% if data.dataPeriodEndDay %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Upload date:
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data.dataPeriodEndDay }}/{{ data.dataPeriodEndMonth }}/{{ data.dataPeriodEndYear }}
            </dd>
          </div>
          {% endif %}
        </dl>

    </div>
    <div class="govuk-grid-column-full">

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Data</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Dataset</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Date added</th>
            <th scope="colgroup" colspan="3" class="govuk-table__header">Download</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data.fileName }}</td>
            <td class="govuk-table__cell">{{ data.fileDescription }}</td>
            <td class="govuk-table__cell">[System generated]</td>
            <td class="govuk-table__cell" colspan="3"><a href={{data.dataUrl}}>{{ data.fileUpload }}</a></td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">
        Preview of data
      </h2>

    </div>
  </div>

{% endblock %}
