{% extends "layout.html" %}

{% block pageTitle %}
  Upload data
{% endblock %}

{% block header %}
  {% include "includes/upload-data-header.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="data-published" method="post">

        <h1 class="govuk-heading-l">
          Contact details
        </h1>

        <p>
          Provide contact details for the team that will be able to answer questions about this dataset.
        </p>


        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="data-contact">
              Email address
            </label>
          </h1>
          <input class="govuk-input" id="data-contact" name="dataContact" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">Upload and publish dataset</button>

      </form>

    </div>
  </div>

{% endblock %}
