{% extends "layout.html" %}

{% block pageTitle %}
  Upload data
{% endblock %}

{% block header %}
  {% include "includes/upload-data-header.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/data-about">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="data-location" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "data-category",
          name: "dataCategory",
          fieldset: {
            legend: {
              text: "How is your data categorised?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all categories that apply about the data."
          },
          items: data['data-categories']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
