{% extends "layout.html" %}

{% block pageTitle %}
  Upload data
{% endblock %}

{% block header %}
  {% include "includes/upload-data-header.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="data-about" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you want to make your data available?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="data-upload" name="dataUpload" type="radio" value="upload manually">
                <label class="govuk-label govuk-radios__label" for="data-upload">
                  I want to upload it to this repository
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="data-upload-2" name="dataUpload" type="radio" value="provide a link">
                <label class="govuk-label govuk-radios__label" for="data-upload-2">
                  It’s already published online elsewhere and I will provide a website link to it
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
