{% extends "layout.html" %}

{% block pageTitle %}
  Add your data
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="data-files" method="post">

        <h1 class="govuk-heading-l">
         About your dataset
        </h1>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="data-title">
              Title of your dataset
            </label>
          </h2>
          <div id="data-title-hint" class="govuk-hint">
            Give your dataset a clear, short title that describes what it is, for example, Open space across Huntingdonshire.
          </div>
          <input class="govuk-input" id="data-title" name="dataTitle" aria-describedby="more-detail-hint">
        </div>
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="data-description">
              Description of your dataset
            </label>
          </h2>
          <div id="data-description-hint" class="govuk-hint">
            Give a brief descripton about the dataset. Explain what it covers, how it can be used and any other useful information that people would want to know about it. 
          </div>
          <textarea class="govuk-textarea" id="data-description" name="dataDescription" rows="4" aria-describedby="more-detail-hint"></textarea>
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="data-commissioning-reason">
              Reason for commissioning data (optional)
            </label>
          </h2>
          <div id="data-commissioning-reason-hint" class="govuk-hint">
            Why was the data created? Was it for an evidence base study, local plan, strategy or something else?
          </div>
          <textarea class="govuk-textarea" id="data-commissioning-reason" name="dataCommissioningReason" rows="2" aria-describedby="more-detail-hint"></textarea>
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="data-original-source">
              URL to original source
            </label>
          </h2>
          <input class="govuk-input" id="data-original-source" name="dataOriginalSource" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
