{% extends "layout.html" %}

{% block pageTitle %}
  Upload data
{% endblock %}

{% block header %}
  {% include "includes/upload-data-header.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/data-location">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="data-license" method="post">

        <h1 class="govuk-heading-l">
          What time period was the data collected?
        </h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="data-period-start-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h3 class="govuk-fieldset__heading">
                Start date
              </h3>
            </legend>
            <div id="data-period-start-date-hint" class="govuk-hint">
                For example, 19 01 2011.
              </div>
            <div class="govuk-date-input" id="data-period-start-date">
              <div class="govuk-date-input" id="data-period-end-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="data-period-start-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="data-period-start-date-day" name="dataPeriodStartDay" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="data-period-start-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="data-period-start-date-month" name="dataPeriodStartMonth" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="data-period-start-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="data-period-start-date-year" name="dataPeriodStartYear" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="data-period-end-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h3 class="govuk-fieldset__heading">
                End date (optional)
              </h3>
            </legend>
            <div id="data-period-end-date-hint" class="govuk-hint">
                Leave this blank if your dataset was collected only on a specific day.
              </div>
            <div class="govuk-date-input" id="data-period-end-date">
              <div class="govuk-date-input" id="data-period-end-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="data-period-end-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="data-period-end-date-day" name="dataPeriodEndDay" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="data-period-end-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="data-period-end-date-month" name="dataPeriodEndMonth" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="data-period-end-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="data-period-end-date-year" name="dataPeriodEndYear" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>

          </fieldset>
        </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
