{% extends "layout.html" %}

{% block pageTitle %}
  Upload data
{% endblock %}

{% block header %}
  {% include "includes/upload-data-header.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="data-contact" method="post">

        <h1 class="govuk-heading-l">
         Add data files
        </h1>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="file-name">
              Name of the file
            </label>
          </h2>
          <div id="file-name-hint" class="govuk-hint">
            Give your data file a name that clearly describes what it is. For example, a file of data for parks and gardens can be named ‘Parks and gardens’.
          </div>
          <input class="govuk-input" id="file-name" name="fileName" type="text" aria-describedby="file-name-hint">
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="file-description">
              Description of the file
            </label>
          </h2>
          <div id="file-description-hint" class="govuk-hint">
            Give a brief descripton about the data file that helps to explain what it contains. For example, a open space file about parks and gardens might have a description to what the definition of parks and gardens are.
          </div>
          <input class="govuk-input" id="file-description" name="fileDescription" type="text" aria-describedby="file-description-hint">
        </div>

        <div class="govuk-form-group">
          <input type="hidden" id="data-url" name="dataUrl">
          <label class="govuk-label" for="file-upload">
            Upload a file
          </label>
          <input class="govuk-file-upload" id="file-upload" name="fileUpload" type="file">
        </div>

        <a href="#">Upload another format</a>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Add another file</button>
<br>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

  <script>
    (() => {
      document.getElementById("file-upload").onchange = () => {
        const files = document.getElementById('file-upload').files;
        const file = files[0];
        if(file == null){
          return alert('No file selected.');
        }
        getSignedRequest(file);
      };
    })();

    function getSignedRequest(file){
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/sign-s3?file-name=${encodeURIComponent(file.name)}&file-type=${file.type}`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            uploadFile(file, response.signedRequest, response.url);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }

    function uploadFile(file, signedRequest, url){
      const xhr = new XMLHttpRequest();
      xhr.open('PUT', signedRequest);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            document.getElementById('data-url').value = encodeURI(url);
          }
          else{
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(file);
      console.log('sent file');
    }

  </script>
{% endblock %}
