{% extends "layout.html" %}

{% block pageTitle %}
  Evidence base study guidance
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Evidence base guidance",
        href: "#"
      },
      {
        text: "Infrastructure",
        href: "#"
      },
      {
        text: "Open space",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-l">Open space</h1>

      <ul class="govuk-list govuk-list--spaced">
        <span class="govuk-caption-m govuk-!-margin-bottom-2">Sections</span>
        <li>
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="./guidance-introduction">Introduction to the open space guidance</a>
        </li>
        <li style="border-left: 4px solid #1d70b8; margin-left: -14px; padding-left: 10px;">
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state govuk-!-font-weight-bold" href="./guidance-policy">National policies and guidance to consider</a>
          <ul class="govuk-list govuk-!-font-size-16 govuk-list--spaced govuk-!-padding-left-2">
            <li>
              <span>—</span>
              <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="#national-planning-policy-framework">National Planning Policy Framework</a>
            </li>
            <li>
              <span>—</span>
              <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="#planning-practice-guidance">Relevant Planning Practice Guidance</a>
            </li>
            <li>
              <span>—</span>
              <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="#sector-guidance">Sector guidance</a>
            </li>
            <li>
              <span>—</span>
              <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="#local-planning-policy">Local planning policy</a>
            </li>
            <li>
              <span>—</span>
              <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="#nationally-agreed-definitions">Nationally agreed definitions</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="./guidance-collecting-data">Collecting open space data</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="./guidance-publishing">Publishing data</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">National policies and guidance to consider</h1>

      <p class="govuk-body">
        There are some national policies you should consider when creating an evidence base for open spaces.
      </p>

      <section id='national-planning-policy-framework'>
        <h2 class="govuk-heading-l">National Planning Policy Framework</h2>

        <p class="govuk-body">
          The National Planning Policy Framework (NPPF) guides the writing of local plans and is used as a substitute local plan, where none exists locally. It sets out the economic, social and environmental planning policies of the Government.
        </p>
        <p class="govuk-body">
          There are two key paragraphs of the NPFF for you to consider. 
        </p>

        <h3 class="govuk-heading-s">Paragraph 98</h3>
        <p class="govuk-body">
          Access to a network of high quality open spaces and opportunities for sport and physical activity is important for the health and well-being of communities, and can deliver wider benefits for nature and support efforts to address climate change. Planning policies should be based on robust and up-to-date assessments of the need for open space, sport and recreation facilities (including quantitative or qualitative deficits or surpluses) and opportunities for new provision. Information gained from the assessments should be used to determine what open space, sport and recreational provision is needed, which plans should then seek to accommodate.
        </p>

        <h3 class="govuk-heading-s">Paragraph 99</h3>
        <p class="govuk-body">
          Existing open space, sports and recreational buildings and land, including playing fields, should not be built on unless:
        </p>
        <p class="govuk-body">
          (a) an assessment has been undertaken which has clearly shown the open space, buildings or land to be surplus to requirements; or
        </p>
        <p class="govuk-body">
          (b) the loss resulting from the proposed development would be replaced by equivalent or better provision in terms of quantity and quality in a suitable location; or
        </p>
        <p class="govuk-body">
          (c) the development is for alternative sports and recreational provision, the benefits of which clearly outweigh the loss of the current or former use.
        </p>
      </section>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <section id='planning-practice-guidance'>
        <h2 class="govuk-heading-l">Relevant Planning Practice Guidance</h2>
        <p class="govuk-body">
          Local authorities should also refer to national planning practice guidance when creating open space evidence base studies.
        </p>
        <p class='govuk-body'>
          Natural Environment (<a href="https://www.gov.uk/guidance/natural-environment">link</a>)
        </p>
        <p class='govuk-body'>
          Open Space, sports and recreation facilities, public rights of way and local green space (<a href="https://www.gov.uk/guidance/open-space-sports-and-recreation-facilities-public-rights-of-way-and-local-green-space">link</a>)
        </p>
      </section>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <section id='sector-guidance'>
        <h2 class="govuk-heading-l">Sector guidance</h2>
        <p class="govuk-body">
        Sport England has produced its own guidance on how to assess needs for playing pitches (<a href='https://sportengland-production-files.s3.eu-west-2.amazonaws.com/s3fs-public/playing-fields-policy-and-guidance-consultation-draft.pdf'>link</a>).
        </p>
      </section>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <section id='local-planning-policy'>
        <h2 class="govuk-heading-l">Local planning policy</h2>
        <p class="govuk-body">
          Local Authorities should consider any strategic plans or supplementary planning guidance that their county or combined/mayoral authority may publish.
        </p>
      </section>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <section id='nationally-agreed-definitions'>
        <h2 class="govuk-heading-l">Nationally agreed definitions</h2>
        <p class="govuk-body">
          Local authorities should measure their open space using these nationally agreed definitions, to allow for consistent comparison and analysis, by Government, the Planning Inspectorate, neighbouring authorities and other interested parties.
        </p>

        {{ govukTable({
          firstCellIsHeader: true,
          head: [
            {
              text: "Typology"
            },
            {
              text: "Definition"
            }
          ],
          rows: [
            [
              {
                text: "Parks and gardens"
              },
              {
                text: "Accessible, high quality opportunities for informal recreation and community events"
              }
            ],
            [
              {
                text: "Natural and semi-natural green spaces"
              },
              {
                text: "Wildlife conservation, biodiversity and environmental education and awareness"
              }
            ],
            [
              {
                text: "Outdoor sports facilities"
              },
              {
                text: "Participation in outdoor sports, such as pitch sports, tennis, bowls, athletics or countryside and water sports"
              }
            ],
            [
              {
                text: "Amenity green spaces"
              },
              {
                text: "Opportunities for informal activities close to home or work or enhancement of the appearance of residential or other areas"
              }
            ],
            [
              {
                text: "Provision for children and young people"
              },
              {
                text: "Areas designed primarily for play and social interaction involving children and young people, such as equipped play areas, ball courts, skateboard areas and teenage shelters"
              }
            ],
            [
              {
                text: "Allotments, community gardens and urban farms"
              },
              {
                text: "Opportunities for those people who wish to do so to grow their own produce as part of the long term promotion of sustainability, health and social inclusion"
              }
            ],
            [
              {
                text: "Churchyards and cemeteries"
              },
              {
                text: "Quiet contemplation and burial of the dead, often linked to the promotion of wildlife conservation and biodiversity"
              }
            ],
            [
              {
                text: "Civic spaces"
              },
              {
                text: "Providing a setting for civic buildings, public demonstrations and community events"
              }
            ]
          ]
        }) }}


      </section>
    </div>
  </div>

{% endblock %}
