{% extends "layout.html" %}

{% block pageTitle %}
  Evidence base study guidance
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Evidence base guidance",
        href: "#"
      },
      {
        text: "Infrastructure",
        href: "#"
      },
      {
        text: "Open Space",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-l">Open Space</h1>

      <ul class="govuk-list">
        <span class="govuk-caption-m govuk-!-margin-bottom-2">Sections</span>
        <li style="border-left: 4px solid #1d70b8; margin-left: -14px; padding-left: 10px;">
          <a class="govuk-link govuk-link--no-underline" href="./guidance-introduction">Introduction</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-underline" href="./guidance-policy">Consider guidance and policy</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-underline" href="./guidance-collecting-data">Data to collect</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-underline" href="./guidance-publishing">Publishing data</a>
        </li>
      </ul>
      </div>

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Introduction</h1>

      <p class="govuk-body">
        This guidance is intended to support local authorities in developing their evidence base for Open Spaces. In particular, it will aim to ensure that consistent data is collected and methodologies applied to the main qualitative parts of an evidence base study. 
      </p>
      <p class="govuk-body">
        The data requirements set out in the guidance represent the minimum that MHCLG would expect to see in a given evidence base. However, this does not mean that authorities should rely solely on this data and methods set out here. Local Planning Authorities should refer to the NPPF and guidance to understand what additional data and analysis might be required to ensure sustainable development for their area.
      </p>
    </div>
  </div>

{% endblock %}
