{% extends "layout.html" %}

{% block pageTitle %}
  Evidence base study guidance
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Evidence base guidance",
        href: "#"
      },
      {
        text: "Infrastructure",
        href: "#"
      },
      {
        text: "Open space",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-l">Open space</h1>

      <ul class="govuk-list govuk-list--spaced">
        <span class="govuk-caption-m govuk-!-margin-bottom-2">Sections</span>
        <li style="border-left: 4px solid #1d70b8; margin-left: -14px; padding-left: 10px;">
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state govuk-!-font-weight-bold" href="./guidance-introduction">Introduction to the open space guidance</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="./guidance-policy">National policies and guidance to consider</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="./guidance-collecting-data">Collecting open space data</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="./guidance-publishing">Publishing data</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Introduction to the open space guidance</h1>

      <p class="govuk-body">
        This information aims to support local authorities to develop their evidence base for open spaces. In particular, it will help make sure consistent data is collected and consistent methodologies are applied to the main quantitative parts of an evidence base study. 
      </p>

      <p class="govuk-body">
        The data requirements we set out in the guidance represent the minimum that the Ministry of Housing, Communities & Local Government (MHCLG) expect to see in any evidence base. But this doesn’t mean you should rely solely on the data and methods set out here. It’s important to also refer to the National Planning Policy Framework (NPPF) and guidance, to make sure you understand what additional data and analysis might be needed for sustainable development in your area.
      </p>

      <p class="govuk-body">
        All evidence base studies require some elements of data and standardised information to be collected. What is needed will vary from study to study, but there are some consistent elements that apply to most studies. These are:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          elements of a place under study,
        </li>
        <li>
          current population,
        </li>
        <li>
          current supply,
        </li>
        <li>
          future supply, and
        </li>
        <li>
          future demand.
        </li>
      </ul>
      <p class="govuk-body">
        You may also need to provide some analysis to help us understand any future surplus or deficits. 
      </p>
    </div>
  </div>

{% endblock %}
