{% extends "layout.html" %}

{% block pageTitle %}
  Evidence base study guidance
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Evidence base guidance",
        href: "#"
      },
      {
        text: "Infrastructure",
        href: "#"
      },
      {
        text: "Open space",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-l">Open space</h1>

      <ul class="govuk-list govuk-list--spaced">
        <span class="govuk-caption-m govuk-!-margin-bottom-2">Sections</span>
        <li>
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="./guidance-introduction">Introduction to the open space guidance</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="./guidance-policy">National policies and guidance to consider</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="./guidance-collecting-data">Collecting open space data</a>
        </li>
        <li style="border-left: 4px solid #1d70b8; margin-left: -14px; padding-left: 10px;">
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state govuk-!-font-weight-bold" href="./guidance-publishing">Publishing data</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Publishing data</h1>

      <p class="govuk-body">
      We encourage you to specify how you own data that is commissioned, so it can be made open and shared on <a href='/find-data'>Find Evidence Base Data</a>. 
      </p>

      <p class="govuk-body">
        You must state on your web page that the data is provided under the Open Government Licence.
      </p>

      <p class="govuk-body">
        Data collected and/or commissioned by Local Authorities can be uploaded on <a href='/find-data'>Find Evidence Base Data</a>. 
      </p>

      <p class="govuk-body">
        It is the responsibility of the Authority who owns the data to keep the data updated on <a href='/find-data'>Find Evidence Base Data</a>.
      </p>

      <h2 class="govuk-heading-m">Support links</h2>
      <a href='/data-upload'>Prototype: Upload data user flow</a>
    </div>
  </div>

{% endblock %}
