
{% extends "layout.html" %}

{% block pageTitle %}
  Find OxCam evidence base data
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Alpha</span>
      <h1 class="govuk-heading-l">
        OxCam Evidence Base Data
      </h1>

      <h2 class="govuk-heading-m">
        Sprint 3
      </h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="data-upload">Prototype: Upload data user flow</a>
        </li>
        <li>
          <a class="govuk-link" href="find-data">Prototype: Find data flow</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.figma.com/file/BzqMi9b3o0ankVDT4AzyfS/OxCam-Alpha-prototypes?node-id=91%3A5763">Figma Prototypes: Sprint 3 (opens in Figma)</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Sprint 2
      </h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.figma.com/file/BzqMi9b3o0ankVDT4AzyfS/OxCam-Alpha-prototypes?node-id=91%3A5763">Figma Prototypes: Sprint 2 (opens in Figma)</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
